aioarangodb==0.1.2
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
coverage==5.5
dnspython==2.1.0
email-validator==1.1.2
flake8==3.9.2
idna==3.2
iniconfig==1.1.1
mccabe==0.6.1
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
PyJWT==2.1.0
pyparsing==2.4.7
pytest==6.2.4
pytest-asyncio==0.15.1
pytz==2021.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
yarl==1.6.3
